*, *::before, *::after {box-sizing: border-box;}

body{
  padding: 0;
  margin: 0;
}

#root {
  text-align: center;
}

.navbar{
  background: #6098dd;
  height: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.links{
  display: flex;
  gap: 20px;
  font-size: 20px;
  margin: 0 2vw;
}

a{
  text-decoration: none;
}
a:link{
  color: white;
}
a:visited{
  color: white;
}
a:hover{
  color: #0062da;
}

.user{
  /* position: absolute; */
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 5px 10px 5px 15px;
  border-radius: 10rem;
  margin: 0 2vw;
}

.photo{
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  aspect-ratio: 1;
  width:30px;
}

button {
  border-radius: 30vw;
  border: 0px;
  padding: 5px 10px;
  background: #ea711a;
  color: white;
}
button:hover {
  background: #ec8134;
}

.create-form {
  background-color: #6098dd;
  width: 40%;
  margin: 50px auto 10px;
  padding:  3em 1em 1em;
  border-radius: 10px;
}


.create-title, .create-description {
  width: 100%;
  color: #6098dd;
  border-radius: inherit;
  padding: .75rem;
  font-size: 25px;
  border: 0px;
}

.create-description {
  resize: none;
  min-height: 150px;
}

.submit-post {
  width: 100%;
  color: white;
  background: #ea711a;
  border: 0px;
  font-weight: bold;
  font-size: 20px;
  padding: 1em 2em;
  border-radius: inherit;
}
.submit-post:hover {
  background: #ec8134;
  cursor: pointer;
}


.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.footer {
  display: flex;
  align-items: center;
  gap: 5px;
}
.like {
  padding: 0;
  background: transparent;
}
.like:hover {
  background: transparent;
  filter: drop-shadow(3px 0 0  #6098dd);
}